<div class="vw-100 primary-color d-flex align-items-center justify-content-center">
  <%= link_to '<button type="button" style="margin: 60px" class="btn btn-lg custom-button">Выйти</button>'.html_safe, destroy_user_session_path, :method => :delete %>
</div>